---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="The Roast">
  <main>
    <header>
      <h1>The Roast</h1>
    </header>
  </main>
</Layout>
