---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
---

<Layout title="The Roast">
  <div>
    <div class="grid lg:grid-cols-2 gap-8">
      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
    </div>
  </div>
</Layout>
