---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import Button from '@/components/Button.astro'
---

<Layout title="The Roast">
  <div>
    <div class="grid lg:grid-cols-2 gap-8">
      <Card title="Zimbabwe">
        <p class="mb-5">this is the body</p>
        <Button href="/whatever">Click Me</Button>
      </Card>

      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
      <Card title="Zimbabwe">this is the body</Card>
    </div>
  </div>
</Layout>
